* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

.container {
  display: grid;
  place-items: center;
  margin: 5rem auto;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;

  padding: 5rem;
}

.posts__content {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  padding: 2rem;
}

.posts__content img {
  max-width: 100%;
}